<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      <title>Sort by Country</title>
</head>
<body>
    <div>
        <h4>Welcome to the very basic site Dinner Party!</h4>
    </div>
    {% for i in recipes %}
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <p> {{ i.country}}, {{ i.sub_region }}</p>
        <h5 class="card-title">{{ i.name }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ i.main_type }}</h6>
        <p class="card-text">{{ i.recipe_text|truncatechars:100 }}</p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>
    {% endfor %}
</body>
</html>