<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Dinner Party!</title>
</head>
<body>
    <div>
        <h1>Welcome to the very basic site Dinner Party!</h1>
    </div>
    <div>
      <iframe width="640" height="360" src="https://youtu.be/UGw_sXRRB0E?t=7" frameborder="0" allowfullscreen>
      </iframe>
    </div>
    <div>
      <center><p>
      <a href="http://127.0.0.1:8000/browser/allitems/">
      Start Here!
      </a>
      </p></center>
    </div>
    <!--select a food main_type here -->
</body>
</html>