<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Dinner Party!</title>
  <link rel="stylesheet" href="./css/main.css">
</head>
<body>
    <div>
        <h1>Welcome to the very basic site Dinner Party!</h1>
    </div>
    <div>
      <p>
        {{ main_type }}
      </p>
      <p>
        {{ country }}
    </div>
    <div>
        <div>
            {{ recipes }}
        </div>
        <div>
            {{ sub_region }}
        <div>
        <div>
            {{ recipes_text }}
        </div>
    </div>
    <!--select a food here -->
</body>
</html>